/*
vars
*/

$black: #010000;
$white: #ffffff;
$red: #ff1755;

/*
fonts
*/

body {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: $black;
  font-weight: 100;
  font-style: regular;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $red;
  }

}

/*
Mixins
*/

@mixin translateY($e) {
  -webkit-transform: translateY($e);
   -moz-transform: translateY($e);
        transform: translateY($e);
}

@mixin translate($e) {
  -webkit-transition:$e;
   -moz-transition:$e;
         transition:$e;
}
